/** @format */

@import url("https://use.typekit.net/zfk5qvf.css");

* {
  margin: 0px;
}
.App {
  position: absolute;
  width: 595px;
  display: block;
  margin: auto;
}
.overview-rank {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#rank {
  padding-top: 100px;
  z-index: 10 !important;
  font-family: nunito-sans, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #0c1e5b;
  padding-left: 100px;
}
.greeting {
  font-family: nunito-sans, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19.1477px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #0c1e5b;
}
.checkReport {
  font-family: nunito-sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10.5642px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #595959;
}

.heading-2 {
  font-family: nunito-sans, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  letter-spacing: 0.02em;

  color: #0c1e5b;
}

.heading-5 {
  margin-top: 50px;
  font-family: nunito-sans, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #0c1e5b;
}

#about-accio {
  font-family: nunito-sans, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: rgba(10, 11, 38, 0.6);
  opacity: 0.8;
}

.CircularProgressbar-text {
  font-family: nunito-sans, sans-serif;
}
